In [1]:
import os
import pandas as pd

In [3]:
ROOT_DIR = os.getcwd()

DATA_FILE_PATH = os.path.join(ROOT_DIR, 'Data', 'train.csv')

FILE_PATH = os.path.join(ROOT_DIR, DATA_FILE_PATH)

In [4]:
print(ROOT_DIR)
print(DATA_FILE_PATH)
print(FILE_PATH)

d:\MLOps\shipment-price-prediction
d:\MLOps\shipment-price-prediction\Data\train.csv
d:\MLOps\shipment-price-prediction\Data\train.csv

In [5]:
FILE_PATH == DATA_FILE_PATH

True

In [11]:
from src.constant import *
from src.utils import read_yaml_file
import yaml

In [9]:
CONFIG_FILE_PATH

'd:\\MLOps\\shipment-price-prediction\\config\\config.yaml'

In [7]:
config_data = read_yaml_file(CONFIG_FILE_PATH)
print(config_data)

None

In [8]:
config_data

In [20]:
read_yaml_file(CONFIG_FILE_PATH)

{'training_pipeline_config': {'pipeline_name': 'Artifact',
  'artifact_dir': 'artifact'},
 'data_ingestion_config': {'data_base': 'machine_learning',
  'collection_name': 'DATASET',
  'data_ingestion': 'data_ingestion',
  'raw_data_dir': 'raw_data',
  'ingested_dir': 'ingested_Data',
  'ingested_train_dir': 'Train',
  'ingested_test_dir': 'Test'}}

In [21]:
with open(CONFIG_FILE_PATH, 'rb') as yaml_file:
    print(yaml.safe_load(yaml_file))

{'training_pipeline_config': {'pipeline_name': 'Artifact', 'artifact_dir': 'artifact'}, 'data_ingestion_config': {'data_base': 'machine_learning', 'collection_name': 'DATASET', 'data_ingestion': 'data_ingestion', 'raw_data_dir': 'raw_data', 'ingested_dir': 'ingested_Data', 'ingested_train_dir': 'Train', 'ingested_test_dir': 'Test'}}

In [24]:
with open(CONFIG_FILE_PATH, 'rb') as yaml_file:
    print(len(yaml.safe_load(yaml_file)))

2

In [22]:
with open(CONFIG_FILE_PATH, 'rb') as yaml_file:
    print(yaml.safe_load_all(yaml_file))

<generator object load_all at 0x0000022E3048A7A0>

In [23]:
with open(CONFIG_FILE_PATH, 'rb') as yaml_file:
    for i in yaml.safe_load_all(yaml_file):
        print(i)

{'training_pipeline_config': {'pipeline_name': 'Artifact', 'artifact_dir': 'artifact'}, 'data_ingestion_config': {'data_base': 'machine_learning', 'collection_name': 'DATASET', 'data_ingestion': 'data_ingestion', 'raw_data_dir': 'raw_data', 'ingested_dir': 'ingested_Data', 'ingested_train_dir': 'Train', 'ingested_test_dir': 'Test'}}

In [1]:
from src.logger import logging

In [3]:
logging.info('***************data ingestion started******************')

In [4]:
logging.INFO('***************data ingestion started******************')

TypeError: 'int' object is not callable

In [5]:
logging.error('***************data ingestion started******************')

In [6]:
st:str = 'st'
print(st)

st

In [16]:
from src.data_access.data_access import mongodb_client
from src.exception import CustomException
import pandas as pd

In [24]:
def get_collection_as_dataframe(database_name:str, collection_name:str)->pd.DataFrame:
    try:
        import sys
        client = mongodb_client()
        print(client)
        df = pd.DataFrame(list(client[database_name][collection_name].find()))
        logging.info('dataframe created successfully')

        if '_id' in df.columns:
            df = df.drop('_id', axis=1)
        
        return df.sample(10), client
    except Exception as e:
        raise CustomException(e, sys)

In [25]:
DATABASE = 'machine_learning'
COLLECTION_NAME = 'DATASET'
df, client = get_collection_as_dataframe(database_name = DATABASE, collection_name=COLLECTION_NAME)
df

mongodb+srv://azkar7307:createacluster@cluster0.scidade.mongodb.net/?retryWrites=true&w=majority
MongoClient(host=['ac-eekzedy-shard-00-00.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-01.scidade.mongodb.net:27017', 'ac-eekzedy-shard-00-02.scidade.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8jp1lo-shard-0', tls=True)

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
8215,fffe3400380037003400,Wanda Warren,0.58,29.0,20.0,1210684.0,Marble,9703.37,35.42,No,Yes,Yes,Roadways,No,Working Class,No,02/22/16,02/24/16,"South Kevin, VT 84493",627732.45
9209,fffe3400340034003200,Irene Esparza,0.65,29.0,13.0,4841.0,None,16.97,10.92,Yes,No,Yes,Waterways,Yes,Working Class,No,04/19/16,04/20/16,"North Tracyfort, CA 52875",378.67
2968,fffe3800320031003500,Emmanuel Reddick,0.30,14.0,7.0,2613.0,Bronze,5.69,14.47,Yes,No,No,Airways,No,Working Class,No,03/24/17,03/24/17,"East Michaeltown, DE 30622",196.51
4219,fffe3700380031003900,Sharlene Morse,0.53,33.0,17.0,5371463.0,Stone,40397.16,92.92,Yes,Yes,Yes,Airways,No,Working Class,No,03/21/16,03/21/16,"Juanland, MA 45799",468872.46
7572,fffe3900380036003500,Millard Fuhrman,0.17,24.0,6.0,6600.0,Brass,6.16,96.66,No,No,Yes,Waterways,No,Working Class,Yes,05/05/15,05/03/15,"Lindaville, ND 47851",609.61
12548,fffe3300380031003500,Hilda Arnett,0.54,14.0,7.0,191.0,Aluminium,6.14,21.07,No,No,No,Roadways,No,Wealthy,No,03/02/18,02/26/18,"Lake Meganmouth, MO 32008",338.70
3844,fffe3900330038003300,Milton Macias,0.74,10.0,5.0,150.0,Aluminium,6.75,12.91,No,No,No,Roadways,No,Working Class,No,08/27/16,08/27/16,"Port Brianna, OH 20781",298.46
1659,fffe3400350030003700,Brad Carey,0.39,13.0,8.0,NaN,Wood,6.04,19.41,Yes,No,Yes,Airways,No,Wealthy,Yes,09/16/15,09/19/15,"South Kennethshire, SC 07976",256.05
6792,fffe380037003300,Ahmed Mitchell,0.02,36.0,19.0,5073.0,Aluminium,7.50,56.81,No,Yes,No,None,No,Working Class,No,12/07/16,12/10/16,"Greenbury, VT 14449",-247.25
7974,fffe3600370030003900,Stacy King,0.49,8.0,4.0,67.0,Wood,6.44,23.44,No,No,Yes,Waterways,No,Working Class,No,11/19/16,11/15/16,"Morsefort, ID 31817",265.56

In [30]:
pd.DataFrame(list(client[DATABASE][COLLECTION_NAME].find())).head()

,_id,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,...,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,652e66a0815f38ebe5dd989b,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,...,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,652e66a0815f38ebe5dd989c,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,...,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
2,652e66a0815f38ebe5dd989d,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,...,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29
3,652e66a0815f38ebe5dd989e,fffe350031003300,Robert Chaires,0.12,9.0,NaN,NaN,Aluminium,5.81,16.31,...,No,No,None,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16
4,652e66a0815f38ebe5dd989f,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,...,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23